<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Travel Planner</title>
    </head>
    <body>
        <main>
            <section id="trip_input">
                <h1>Travel Planner</h1>
                <form onsubmit="return handleSubmit(event)">
                    <ul class="form__outer">
                      <li>
                        <label for="travel__date">Dates</label>
                        <input type="text" id="travel__date" placeholder="yyyy-mm-dd">
                      </li>
                      <li>
                        <label for="travel__city">Travel City</label>
                        <input type="text" id="travel__city" placeholder="Enter the city here">
                      </li>
                      <li>
                        <label for="travel__country">Travel Country</label>
                        <input type="text" id="travel__country" placeholder="Enter the country here (US)">
                      </li>
                      <li>
                        <button type="submit" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">Submit</button>
                      </li>
                    </ul>
              </form>
            </section>

            <section id="results">
              <h1>Results: <span id="placename__result"></span></h1>
              <h2>Days Until: <span id="days__until">- -</span> </h2>
              <h2>High Temp: <span id="high__temp">- -</span> </h2>
              <h2>Low Temp: <span id="low__temp">- -</span> </h2>
              <h2>Cloud Coverage: <span id="cloud__coverage">- -</span> </h2>
              <img id="trip__photo" src="https://cdn.pixabay.com/photo/2016/01/09/18/27/old-1130731_1280.jpg" alt="Image not found">
            </section>
        </main>
        <script>
            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener("load", () => {
                    navigator.serviceWorker.register("/service-worker.js");
                });
            }
        </script>
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>
