section {
    margin: 10px auto 10px auto;
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    max-width: 800px;
    background-color: #ffffff;
}

section h1 {
  padding: 8px;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: .09em;
  text-transform: uppercase;
}

section h2 {
  padding: 8px;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: .09em;
  text-transform: uppercase;
}

#results {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 150%;
}

#results img {
    max-width: 800px;
}

.form__outer,
.form__inner {
  list-style-type: none;
  padding: 0;
}

.form__outer {
  max-width: 800px;
  margin: 0 auto;
}

.form__outer li,
.form__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.form__outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.form__outer li label,
.form__outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.form__outer > li > label,
.form__outer li p {
  flex: 1 0 120px;
  font-size: 1em;
  max-width: 220px;
}

.form__outer > li > label + *,
.form__inner {
  flex: 1 0 220px;
}

.form__outer li p {
  margin: 0;
}

.form__outer li input:not([type='checkbox']),
.form__outer li textarea {
  padding: 15px;
  border: none;
}

.form__outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.form__inner li {
  width: 100px;
}
